
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav1 {
   
    border-radius: 10px;
    background-color: bisque;
    color:brown;
    display: flex;
    justify-content: space-between;
    
    
}

 .nav2 {
    position: relative;
    height: 30px;
    width: 30%;
    border-radius: 10px;
    margin: 20px;
    text-align: right;
    background-color: cyan;
    right: -1000px;
    top: -24px;

} 

.text{
    margin: 50px;
    color: red;
}
