
.text{
    color:whitesmoke
}

.box1{
    background-color:black;
  
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 40px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    background-color:lightgoldenrodyellow;
    border-radius: 20%;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 40px;
    color: Black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3{
    background-color:lightcyan;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 40px;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4{
    background-color:green;
    border-radius: 10%;
    height: 100%;
    width: 200px;
    margin: 20px;
    padding: 40px;
    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
