
.card1{
    background-color: greenyellow;
    height: 400px;
    width: 300px;
    margin: 20px;    /* center */
    padding: 20px;   /* inside space */
    border-radius:10px;/*border radius */
    background-position: center;  
    text-align:center;
}

.card2{
    background-color: greenyellow;
    height: 400px;
    width: 300px;
    margin: 20px;    /* center */
    padding: 20px;   /* inside space */
    border-radius:10px;/*border radius */
    background-position: center;  
    text-align:center;
}

.card3{
    background-color: greenyellow;
    height: 400px;
    width: 300px;
    margin: 20px;    /* center */
    padding: 20px;   /* inside space */
    border-radius:10px;/*border radius */
    background-position: center;  
    text-align:center;
}